<div class="registration-container">
  <mat-form-field>
    <input matInput placeholder="Email" />
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Password" />
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Password Again" />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Type of mattress you own</mat-label>
    <mat-select>
      <mat-option *ngFor="let mattress of mattresses" [value]="mattress.value">
        {{ mattress.viewValue }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <button mat-button>Log In</button>
</div>
