<mat-toolbar color="primary" class="site-header">
  <mat-toolbar-row>
    <a mat-button routerLink="/home"
      ><span>
        Casper Date
      </span></a
    >
    <span class="example-spacer"></span>
    <mat-icon class="example-icon" aria-hidden="false" aria-label="Menu Icon"
      >menu</mat-icon
    >
  </mat-toolbar-row>
</mat-toolbar>
<div class="router-outlet-container">
  <router-outlet></router-outlet>
</div>
<mat-toolbar color="primary" class="site-footer">
  <mat-toolbar-row>
    <span>Kane Price // 2019</span>
  </mat-toolbar-row>
</mat-toolbar>
