@import '../node_modules/@angular/material/prebuilt-themes/indigo-pink.css';

html,
body {
  margin: 0;
  overflow: hidden;
}

app-root {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}

.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}

.site-header {
  justify-self: start;
  span {
    font-size: 24px;
  }
}

.site-footer {
  min-height: 30px !important;
  mat-toolbar-row {
    height: 30px;
    justify-content: center;
    font-size: 12px;
  }
}

.router-outlet-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: calc(100vh - 94px);
}

@media (max-width: 599px) {
  .router-outlet-container {
    height: calc(100vh - 112px);
  }
}

.background-image {
  position: absolute;
  z-index: -1;
  opacity: 0.5;
  height: 100vh;
  top: 0;
}
